
@import "~bootstrap/scss/bootstrap";

body {
  background-color: red;
}

#eat {
  position: absolute;
  top: 0;
  left: 0;
  right: 50%;
  bottom: 50%;
  background: red;
  border: solid 1px black;
  padding: 15px;
}

#play {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 50%;
  background: red;
  border: solid 1px black;
  padding: 15px;
}

#fight {
  position: absolute;
  top: 50%;
  left: 0;
  right: 50%;
  bottom: 0;
  background: red;
  border: solid 1px black;
  padding: 15px;
}

#sleep {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  background: red;
  border: solid 1px black;
  padding: 15px;
}

.displayName {
  font-size: 24px;
}

#healthyBtn, #unhealthyBtn {
  border-top-left-radius: 8px;
  margin-right: 20px;
}

.showDisplay {
  text-align: center;
}

